In [ ]:
# https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/
# https://www.marktechpost.com/2019/06/07/how-to-connect-google-colab-with-google-drive/

# To mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# To load the Kaggle dataset directly into Google Colab
# Install the Kaggle library
! pip install kaggle
# Make a directory named “.kaggle”
! mkdir ~/.kaggle
# Copy the “kaggle.json” into this new directory
!cp '/content/drive/MyDrive/Colab Notebooks/kaggle.json' ~/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

In [ ]:
# Download the dataset
! kaggle datasets download thedevastator/yelp-reviews-sentiment-dataset

Downloading yelp-reviews-sentiment-dataset.zip to /content
 99% 160M/162M [00:06<00:00, 28.8MB/s]
100% 162M/162M [00:06<00:00, 27.3MB/s]

In [ ]:
# Unzip the file and choose only train.csv
! unzip yelp-reviews-sentiment-dataset.zip -x train.csv

Archive:  yelp-reviews-sentiment-dataset.zip
  inflating: test.csv

In [ ]:
# Inspect the dataset
import pandas as pd
df = pd.read_csv('test.csv')

In [ ]:
df.shape

(38000, 2)

In [ ]:
df.head(10)

                                                text  label
0  Contrary to other reviews, I have zero complai...      1
1  Last summer I had an appointment to get new ti...      0
2  Friendly staff, same starbucks fair you get an...      1
3  The food is good. Unfortunately the service is...      0
4  Even when we didn't have a car Filene's Baseme...      1
5  Picture Billy Joel's \""Piano Man\"" DOUBLED m...      1
6  Mediocre service. COLD food! Our food waited s...      0
7  Ok! Let me tell you about my bad experience fi...      0
8  I used to love D&B when it first opened in the...      0
9  Like any Barnes & Noble, it has a nice comfy c...      1

In [ ]:
df.tail(10)

                                                    text  label
37990  This was my first Yelp Elite event and my firs...      1
37991  I'm in love with this adorable little shop! It...      1
37992  'Twas the week before Christmas and all throug...      1
37993  This place was just okay for me. It was nothin...      0
37994  Extremely disappointing and frustrating experi...      0
37995         If I could give 0...I would.  Don't do it.      0
37996  Items Selected:\nChocolate Cinnamon Horn\nSmal...      1
37997  Expensive lunch meals.  Fried pickles were goo...      0
37998  Highly overpriced and food was cold. Our waitr...      0
37999  I have been using this company for 11 months. ...      0

In [ ]:
# Check if there are other languages other than English; if yes, remove them
# 1. using detect_langs
! pip install langdetect
from langdetect import detect_langs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: langdetect in /usr/local/lib/python3.8/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from langdetect) (1.15.0)

In [ ]:
def isEnglish(languages_list):
  for language in languages_list:
    if language.lang == 'en':
      return True
  return False

df['languages'] = df['text'].apply(detect_langs)
df['isEnglish'] = df['languages'].apply(isEnglish)

In [ ]:
# see how it looks like
df.loc[df.isEnglish == False]

,text,label,languages,isEnglish
500,"MALL CLOSED\n\nJune 30, 2010\n\nRIP",0,"[af:0.5714265752853798, fr:0.4285719117849144]",False
705,Decent!,1,[nl:0.9999955439398616],False
1395,I do not recommend.,0,"[it:0.7142840936631788, pt:0.14285838311894292...",False
2612,terrible,0,"[da:0.8571399543924237, ca:0.14285951959290602]",False
2912,still my FAV,1,[sv:0.9999947660032711],False
...,...,...,...,...
37291,Je tenais vraiment \u00e0 oublier ma premi\u00...,1,[fr:0.9999954204596291],False
37411,ramen is good\u3001severs good too\u3002\u3002...,1,[hr:0.9999979306957532],False
37601,Tr\u00e8s bon restaurant en plein coeur de Cen...,1,[fr:0.9999952559255993],False
37759,"Beratungskompetenz gleich Null, die Mitarbeite...",0,[de:0.9999972859992705],False
37786,"Para ser arroz y frijoles, esta muy caro. No ...",0,[es:0.9999958445024919],False

In [ ]:
# 2. using fastText
# https://medium.com/@c.chaitanya/language-identification-in-python-using-fasttext-60359dc30ed0
# https://docs.python.org/3/howto/urllib2.html

! pip install fasttext
import fasttext
from urllib import request
pretrained_lang_model_URL = 'https://dl.fbaipublicfiles.com/fasttext/supervised-models/lid.176.bin'
path = "lid.176.bin"
request.urlretrieve(pretrained_lang_model_URL, path)

model = fasttext.load_model(path)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fasttext in /usr/local/lib/python3.8/dist-packages (0.9.2)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.8/dist-packages (from fasttext) (2.10.3)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from fasttext) (1.21.6)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
# check if it works and how the output will look like
model.predict("Expensive lunch meals")

(('__label__en',), array([0.96638221]))

In [ ]:
def isEnglishFast(text):
  languages_tuple = model.predict(text)
  for language_label in languages_tuple[0]:
    if language_label[-2:]=='en':
      return True
  return False

df['isEnglishFast'] = df['text'].apply(isEnglishFast)

# see how it looks like
df.loc[df.isEnglishFast != True]

,text,label,languages,isEnglish,isEnglishFast
3688,"TRES VECES, la orden me ha salido mal! No rec...",0,[es:0.9999961338990258],False,False
3869,"Schneller, freundlicher Service. Preis/Leistun...",1,"[de:0.8571372666042625, en:0.1428596291038731]",True,False
4409,Delycios,1,"[es:0.8571410515455712, pl:0.14285670635308906]",False,False
6301,Mojitos.,1,[lt:0.9999959011062911],False,False
6365,"Nella mia visita a Phoenix, i miei amici mi po...",1,[it:0.9999961063146598],False,False
...,...,...,...,...,...
37065,"29 mai 2014 - serveurs courtois, pr\u00e9senta...",0,[fr:0.9999958145455384],False,False
37291,Je tenais vraiment \u00e0 oublier ma premi\u00...,1,[fr:0.9999954204596291],False,False
37601,Tr\u00e8s bon restaurant en plein coeur de Cen...,1,[fr:0.9999952559255993],False,False
37759,"Beratungskompetenz gleich Null, die Mitarbeite...",0,[de:0.9999972859992705],False,False
37786,"Para ser arroz y frijoles, esta muy caro. No ...",0,[es:0.9999958445024919],False,False

In [ ]:
# compare the 2 models
# detect_lang is much slower and less accurate
# fastText is faster and more accurate

# to see those reviews there are detected differently by the 2 models
df.loc[(df.isEnglish != df.isEnglishFast) & (df.isEnglish == False)]

,text,label,languages,isEnglish,isEnglishFast
500,"MALL CLOSED\n\nJune 30, 2010\n\nRIP",0,"[af:0.5714265752853798, fr:0.4285719117849144]",False,True
705,Decent!,1,[nl:0.9999955439398616],False,True
1395,I do not recommend.,0,"[it:0.7142840936631788, pt:0.14285838311894292...",False,True
2612,terrible,0,"[da:0.8571399543924237, ca:0.14285951959290602]",False,True
2912,still my FAV,1,[sv:0.9999947660032711],False,True
3327,Awesome gyros!,1,"[cy:0.8571413182732788, lt:0.1428572198135441]",False,True
4167,Very poor housekeeping,0,[af:0.9999929283385025],False,True
5062,Friendliest bartenders and best martinis in Ma...,1,[de:0.9999979601786492],False,True
5175,no......just no!,0,[sl:0.9999924677553107],False,True
5598,Awesome burgers.,1,[af:0.9999940843688306],False,True
6242,Valenciana Paella is great,1,"[it:0.8571403289975255, ca:0.14285942964480586]",False,True
6566,decent education at a decent price!,1,[ro:0.999994780486379],False,True
7258,shark tank,1,"[so:0.8571385766117403, id:0.14285771415288437]",False,True
8214,Excellent.,1,[ca:0.9999949739746807],False,True
9353,Favorite burgers in Madison,1,"[de:0.8464020487284998, nl:0.15357521575504426]",False,True
9417,Yawn. Enough said.,0,[cy:0.9999962674009513],False,True
9986,delicious!!,1,[ca:0.999994095620502],False,True
10460,Nice n cumfy joint.,1,"[ro:0.8571389358950219, fi:0.14285778449016495]",False,True
10516,a good buffet,1,[cy:0.999996772092301],False,True
10518,huge~!!!\nbest buffet ever~!,1,[da:0.9999939117210874],False,True
10522,prime rib + crab legs. prime rib + crab legs. ...,1,[ca:0.9999962818135594],False,True
11509,Damn fine BBQ.,1,"[sv:0.8571390424485047, de:0.14285811368389148]",False,True
12470,Kauai pie,1,[lt:0.9999967851539093],False,True
12566,Its just ok,0,[et:0.9999961011859936],False,True
13099,Wonderful,1,[de:0.9999965850577446],False,True
16166,Best Pizza I have had in Nevada.,1,"[it:0.5714278818535823, sl:0.2857145127315624,...",False,True
17624,Best Torta I've ever had.,1,[no:0.9999949499169155],False,True
17734,Paneer is sooooo good here!!!,1,[af:0.9999937956304076],False,True
18499,Chambord margaritas are killer!,1,[sv:0.9999965582242802],False,True
18653,One word... bland.,0,[af:0.9999941676698086],False,True
19102,Food is always good.,0,"[so:0.7142850848301314, cy:0.285714284984367]",False,True
19234,mediocre pita + grumpy server,0,[it:0.9999947349555289],False,True
19645,sp\u00e9cialit\u00e9s grillades\n\nBo 3 M\u00f...,1,"[ca:0.4285718280888302, pt:0.28571413159790116...",False,True
20041,Not nice!,0,"[ro:0.5700564827062171, pl:0.42856931450389785]",False,True
20681,Large variety,0,"[af:0.8571404180133705, sv:0.1408717179355686]",False,True
22812,Barf.,0,"[de:0.5714267527593424, cy:0.4285716911827703]",False,True
23115,Roger is great!,1,"[da:0.7142808597387261, af:0.2857127891174405]",False,True
23223,Best Brunch!!,1,[de:0.9999975833904725],False,True
23632,Good job,1,[so:0.999995957405176],False,True
24765,Unique food and a unique experience.,1,[fr:0.9999951433693837],False,True
26238,Gross.,0,"[pt:0.5714274063385356, de:0.42856996426365424]",False,True
26365,Best best best,1,[de:0.9999955692000051],False,True
26682,so underrated...but BEST.TOFU.ever. \n\ncrispy...,1,"[af:0.5714330459096392, da:0.4273333759459547]",False,True
27541,great steak sub,1,[ro:0.9999944674611071],False,True
28129,blahhhh,0,[id:0.9999936515763967],False,True
28636,"WOW, Nice!",1,[pl:0.9999953036167825],False,True
28822,lame,0,"[es:0.8962754746973156, ca:0.10372452530268439]",False,True
29354,Not...good.,0,[af:0.9999959063045962],False,True
29628,Disgusting.\nDangerous.\nDon't go.,0,"[af:0.8571394208021199, tl:0.14285767127974547]",False,True
30158,So many different and unique flavors. ALL SO G...,1,[ca:0.9999960469462067],False,True
31083,Love Rema for facials!!!,1,[ca:0.9999957498477022],False,True
31481,great salads subpar service.,1,"[ro:0.7138532566568074, ca:0.1432874927929169,...",False,True
33139,Best tacos in Arizona,1,[es:0.9999957862319142],False,True
33266,Good food. Decor not gonna get you laid.,1,[cy:0.9999988721668799],False,True
34040,Hell's Kitchen Burger!!!,1,[de:0.9999949767519372],False,True
36538,Questionable,0,[fr:0.9999950429193376],False,True
37411,ramen is good\u3001severs good too\u3002\u3002...,1,[hr:0.9999979306957532],False,True

In [ ]:
# so, we choose only those reviews detected by fastText as English
df = df.loc[df.isEnglishFast == True]

In [ ]:
df.shape

(37769, 5)

In [ ]:
# Text preprocessing
# 1. lower case
# Series.str.lower() --> Convert strings in the Series/Index to lowercase
df.text = df['text'].str.lower()

In [ ]:
# check if they are in lower case
df.head()

,text,label,languages,isEnglish,isEnglishFast
0,"contrary to other reviews, i have zero complai...",1,[en:0.9999986395268634],True,True
1,last summer i had an appointment to get new ti...,0,[en:0.9999970957499589],True,True
2,"friendly staff, same starbucks fair you get an...",1,[en:0.9999959616159918],True,True
3,the food is good. unfortunately the service is...,0,[en:0.9999960258972647],True,True
4,even when we didn't have a car filene's baseme...,1,[en:0.9999975520745594],True,True

In [ ]:
# 2. remove punctuation marks, stopwords, digits, etc.
import nltk
# nltk.download('punkt')
from nltk.tokenize import RegexpTokenizer
nltk.download('stopwords')

# A RegexpTokenizer splits a string into substrings using a regular expression.
# We want a match where the string contains any word characters with one or more occurrences.
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')
df['tokens'] = df['text'].apply(tokenizer.tokenize)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df.head()

,text,label,languages,isEnglish,isEnglishFast,tokens
0,"contrary to other reviews, i have zero complai...",1,[en:0.9999986395268634],True,True,"[contrary, to, other, reviews, i, have, zero, ..."
1,last summer i had an appointment to get new ti...,0,[en:0.9999970957499589],True,True,"[last, summer, i, had, an, appointment, to, ge..."
2,"friendly staff, same starbucks fair you get an...",1,[en:0.9999959616159918],True,True,"[friendly, staff, same, starbucks, fair, you, ..."
3,the food is good. unfortunately the service is...,0,[en:0.9999960258972647],True,True,"[the, food, is, good, unfortunately, the, serv..."
4,even when we didn't have a car filene's baseme...,1,[en:0.9999975520745594],True,True,"[even, when, we, didn, t, have, a, car, filene..."

In [ ]:
# remove stopwords
my_stopwords=nltk.corpus.stopwords.words('english')
stopwords_set = set(my_stopwords)
stopwords_set.update('&')

df['tokens_clean']= df['tokens'].apply(lambda text : [token for token in text if token not in stopwords_set and (len(token)>1 and token.isalpha())])

In [ ]:
df.head(15)

,text,label,languages,isEnglish,isEnglishFast,tokens,tokens_clean
0,"contrary to other reviews, i have zero complai...",1,[en:0.9999986395268634],True,True,"[contrary, to, other, reviews, i, have, zero, ...","[contrary, reviews, zero, complaints, service,..."
1,last summer i had an appointment to get new ti...,0,[en:0.9999970957499589],True,True,"[last, summer, i, had, an, appointment, to, ge...","[last, summer, appointment, get, new, tires, w..."
2,"friendly staff, same starbucks fair you get an...",1,[en:0.9999959616159918],True,True,"[friendly, staff, same, starbucks, fair, you, ...","[friendly, staff, starbucks, fair, get, anywhe..."
3,the food is good. unfortunately the service is...,0,[en:0.9999960258972647],True,True,"[the, food, is, good, unfortunately, the, serv...","[food, good, unfortunately, service, hit, miss..."
4,even when we didn't have a car filene's baseme...,1,[en:0.9999975520745594],True,True,"[even, when, we, didn, t, have, a, car, filene...","[even, car, filene, basement, worth, bus, trip..."
5,"picture billy joel's \""""piano man\"""" doubled m...",1,[en:0.9999954560513125],True,True,"[picture, billy, joel, s, piano, man, doubled,...","[picture, billy, joel, piano, man, doubled, mi..."
6,mediocre service. cold food! our food waited s...,0,[en:0.9999991385429662],True,True,"[mediocre, service, cold, food, our, food, wai...","[mediocre, service, cold, food, food, waited, ..."
7,ok! let me tell you about my bad experience fi...,0,[en:0.9999968675346629],True,True,"[ok, let, me, tell, you, about, my, bad, exper...","[ok, let, tell, bad, experience, first, went, ..."
8,i used to love d&b when it first opened in the...,0,[en:0.9999955057633292],True,True,"[i, used, to, love, d, b, when, it, first, ope...","[used, love, first, opened, waterfront, gone, ..."
9,"like any barnes & noble, it has a nice comfy c...",1,[en:0.9999956289178797],True,True,"[like, any, barnes, noble, it, has, a, nice, c...","[like, barnes, noble, nice, comfy, cafe, large..."
10,"meh, i've experienced better is an understatem...",0,[en:0.9999968700936659],True,True,"[meh, i, ve, experienced, better, is, an, unde...","[meh, experienced, better, understatement, nfr..."
11,"unos has been around for ever, & i feel like t...",1,[en:0.9999974762166499],True,True,"[unos, has, been, around, for, ever, i, feel, ...","[unos, around, ever, feel, like, restaurant, c..."
12,stars are for the food only. 2.5 rating\n\n...,0,[en:0.9999971057423318],True,True,"[stars, are, for, the, food, only, 2, 5, ratin...","[stars, food, rating, ngot, saturday, night, t..."
13,our last few visits have left something to des...,0,[en:0.9999964089952119],True,True,"[our, last, few, visits, have, left, something...","[last, visits, left, something, desire, one, t..."
14,good quality pork fried dumpling and mongo bee...,1,[en:0.9999939010251411],True,True,"[good, quality, pork, fried, dumpling, and, mo...","[good, quality, pork, fried, dumpling, mongo, ..."

In [ ]:
# 3. Stemming
from nltk.stem import PorterStemmer
porter = PorterStemmer()

df['tokens_clean2'] = df['tokens_clean'].apply(lambda text : [porter.stem(token) for token in text])

In [ ]:
df.head()

,text,label,languages,isEnglish,isEnglishFast,tokens,tokens_clean,tokens_clean2
0,"contrary to other reviews, i have zero complai...",1,[en:0.9999986395268634],True,True,"[contrary, to, other, reviews, i, have, zero, ...","[contrary, reviews, zero, complaints, service,...","[contrari, review, zero, complaint, servic, pr..."
1,last summer i had an appointment to get new ti...,0,[en:0.9999970957499589],True,True,"[last, summer, i, had, an, appointment, to, ge...","[last, summer, appointment, get, new, tires, w...","[last, summer, appoint, get, new, tire, wait, ..."
2,"friendly staff, same starbucks fair you get an...",1,[en:0.9999959616159918],True,True,"[friendly, staff, same, starbucks, fair, you, ...","[friendly, staff, starbucks, fair, get, anywhe...","[friendli, staff, starbuck, fair, get, anywher..."
3,the food is good. unfortunately the service is...,0,[en:0.9999960258972647],True,True,"[the, food, is, good, unfortunately, the, serv...","[food, good, unfortunately, service, hit, miss...","[food, good, unfortun, servic, hit, miss, main..."
4,even when we didn't have a car filene's baseme...,1,[en:0.9999975520745594],True,True,"[even, when, we, didn, t, have, a, car, filene...","[even, car, filene, basement, worth, bus, trip...","[even, car, filen, basement, worth, bu, trip, ..."

In [ ]:
df['clean_text'] = df['tokens_clean2'].str.join(" ")

In [ ]:
df.head()

,text,label,languages,isEnglish,isEnglishFast,tokens,tokens_clean,tokens_clean2,clean_text
0,"contrary to other reviews, i have zero complai...",1,[en:0.9999986395268634],True,True,"[contrary, to, other, reviews, i, have, zero, ...","[contrary, reviews, zero, complaints, service,...","[contrari, review, zero, complaint, servic, pr...",contrari review zero complaint servic price ge...
1,last summer i had an appointment to get new ti...,0,[en:0.9999970957499589],True,True,"[last, summer, i, had, an, appointment, to, ge...","[last, summer, appointment, get, new, tires, w...","[last, summer, appoint, get, new, tire, wait, ...",last summer appoint get new tire wait super lo...
2,"friendly staff, same starbucks fair you get an...",1,[en:0.9999959616159918],True,True,"[friendly, staff, same, starbucks, fair, you, ...","[friendly, staff, starbucks, fair, get, anywhe...","[friendli, staff, starbuck, fair, get, anywher...",friendli staff starbuck fair get anywher els s...
3,the food is good. unfortunately the service is...,0,[en:0.9999960258972647],True,True,"[the, food, is, good, unfortunately, the, serv...","[food, good, unfortunately, service, hit, miss...","[food, good, unfortun, servic, hit, miss, main...",food good unfortun servic hit miss main issu s...
4,even when we didn't have a car filene's baseme...,1,[en:0.9999975520745594],True,True,"[even, when, we, didn, t, have, a, car, filene...","[even, car, filene, basement, worth, bus, trip...","[even, car, filen, basement, worth, bu, trip, ...",even car filen basement worth bu trip waterfro...

In [ ]:
# train/test split
from sklearn.model_selection import train_test_split
y = df.label
X = df.clean_text

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123, stratify=y)

In [ ]:
X_train

14782                           wow best place buy groceri
14189    great hole da wall joint big plu get lot stuff...
19329    know hard go wrong find good restaur montreal ...
9937                             even go write anyth miser
8656     cannot commend star enough put fenc keep rabid...
                               ...
27016    wife went vida base good yelp review disappoin...
36585    friend recommend restaur japan amaz food custo...
14425    ok mostli like go nwe place order take pork fo...
30933    recent came doubl date anoth coupl place one f...
25940    past week went stingray lunch late lunch aroun...
Name: clean_text, Length: 30215, dtype: object

In [ ]:
y_train

14782    1
14189    1
19329    1
9937     0
8656     1
        ..
27016    1
36585    1
14425    0
30933    1
25940    1
Name: label, Length: 30215, dtype: int64

In [ ]:
X_test

29724    total fraud went look reput pool compani fact ...
37435    abl eat lunch close seat ask next day thing ha...
26192    cute littl spot need littl indi spot like one ...
24220    love place right next motel food price servic ...
5366     place beauti sunlit airi fill fine modern clea...
                               ...
10706                               discrimin men guy ladi
32237    get mad sub contract job detail show home told...
17237    basic get three comedian price one emce short ...
1823     great experi place went lunch chicken fajita l...
10600    best food kind experienc chicken fri steak pre...
Name: clean_text, Length: 7554, dtype: object

In [ ]:
y_test

29724    0
37435    0
26192    1
24220    1
5366     0
        ..
10706    0
32237    0
17237    1
1823     1
10600    1
Name: label, Length: 7554, dtype: int64

In [ ]:
# vectorization of X_train and X_test using BOW model
from sklearn.feature_extraction.text import CountVectorizer
# vect = CountVectorizer()
vect = CountVectorizer(ngram_range=(1,2) , min_df=50)

# 1. X_train
review_train = vect.fit_transform(X_train)
X_train_transformed = pd.DataFrame(review_train.toarray(), columns=vect.get_feature_names())

# 2. X_test
review_test = vect.transform(X_test)
X_test_transformed = pd.DataFrame(review_test.toarray(), columns=vect.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_train_transformed

,abil,abl,abl get,absolut,absolut amaz,absolut delici,absolut love,abund,ac,accent,...,young,young ladi,younger,yr,yuck,yum,yummi,zero,zero star,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30211,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30212,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
30213,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30214,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
y_train

14782    1
14189    1
19329    1
9937     0
8656     1
        ..
27016    1
36585    1
14425    0
30933    1
25940    1
Name: label, Length: 30215, dtype: int64

In [ ]:
X_test_transformed

,abil,abl,abl get,absolut,absolut amaz,absolut delici,absolut love,abund,ac,accent,...,young,young ladi,younger,yr,yuck,yum,yummi,zero,zero star,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7549,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7552,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7553,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# train the model
# 1. Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [ ]:
# supervised ML
nb.fit(X_train_transformed,y_train)

MultinomialNB()

In [ ]:
nb_predict_y=nb.predict(X_test_transformed)

In [ ]:
nb_predict_y

array([0, 0, 1, ..., 0, 1, 1])

In [ ]:
# measuring NB model performance

from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, nb_predict_y, target_names = ['negative (0)', 'positive (1)']))

cm = confusion_matrix(y_test, nb_predict_y)
print(pd.DataFrame(cm))

              precision    recall  f1-score   support

negative (0)       0.89      0.84      0.87      3782
positive (1)       0.85      0.90      0.87      3772

    accuracy                           0.87      7554
   macro avg       0.87      0.87      0.87      7554
weighted avg       0.87      0.87      0.87      7554

      0     1
0  3179   603
1   389  3383

In [ ]:
# train the model
# 2. Logistic Regression model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)

In [ ]:
# supervised ML
lr.fit(X_train_transformed,y_train)

LogisticRegression(max_iter=1000)

In [ ]:
lr_predict_y=lr.predict(X_test_transformed)

In [ ]:
# measuring LR model performance

from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, lr_predict_y, target_names = ['negative (0)', 'positive (1)']))

cm = confusion_matrix(y_test, lr_predict_y)
print(pd.DataFrame(cm))

              precision    recall  f1-score   support

negative (0)       0.92      0.90      0.91      3782
positive (1)       0.90      0.92      0.91      3772

    accuracy                           0.91      7554
   macro avg       0.91      0.91      0.91      7554
weighted avg       0.91      0.91      0.91      7554

      0     1
0  3411   371
1   311  3461